<!DOCTYPE html>
<html>
<head>
    <title>Create Album</title>
</head>
<body>
    <h1>Create a New Album</h1>
    <form method="post">
        <label>Album Title:</label><br>
        <input type="text" name="AlbumTitle"><br>
        <label>Artist:</label><br>
        <input type="text" name="Artist"><br>
        <label>Length (minutes):</label><br>
        <input type="number" name="Length"><br>
        <label>Release Date (Year):</label><br>
        <input type="number" name="ReleaseDate"><br>
        <label>Rating:</label><br>
        <input type="number" name="Rating"><br><br>
        <input type="submit" value="Create Album">
    </form>
</body>
</html>